.catalog {
  padding-top: 90px;
  padding-bottom: 120px;

  h2 {
    margin-top: 0;
    margin-bottom: 48px;
    text-align: center;

    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
  }

  .img {
    height: 100%;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 30px;

  margin: 0 15px;
}

.catalog__item {
  display: flex;
  position: relative;

  &:focus-within .catalog__item-hover-cover,
  &:hover .catalog__item-hover-cover {
    display: flex;
    z-index: 5;
  }
}

.catalog__item-container {
  display: grid;
}

.catalog__item-hover-cover {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  z-index: -1;
  flex-direction: column;

  width: 100%;
  height: 386px;
  padding: 28px 25px 30px;

  color: $color-white;
  background-color: $color-prussian-blue;

  h3 {
    margin: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  p {
    margin: 0;

    color: $color-quartz;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.catalog__item-main-cover {
  position: relative;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  z-index: 2;

  h3 {
    margin: 0;
    position: absolute;
    bottom: 22px;
    left: 30px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-white;
  }
}

.catalog__cruise-description-list {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  width: 100%;
  min-height: 241px;
  overflow: scroll;
}

.catalog__cruise-description-item {
  padding-bottom: 11px;
}

@include vp-1023 {
  .catalog {
    padding-top: 86px;
    padding-bottom: 100px;

    h2 {
      font-size: 26px;
    }

    .img {
      height: 386px;
    }
  }

  .catalog__list {
    grid-template-columns: repeat(2, 48%);
  }

  .catalog__item {
    display: initial;
  }

  .catalog__item-main-cover {
    h3 {
      bottom: 28px;
      left: 35px;
    }
  }

  .catalog__item-hover-cover {
    padding-left: 34px;
    padding-bottom: 17px;
    background-color: $color-tangaroa;
  }

  .catalog__cruise-description-list {
    margin-top: 17px;
  }
}

@include vp-767 {
  .catalog {
    padding-top: 57px;
    padding-bottom: 65px;

    h2 {
      margin-bottom: 31px;

      font-size: 24px;
      line-height: 36px;
    }

    h3 {
      bottom: 17px;
      left: 24px;
    }
  }

  .catalog__list {
    grid-template-columns: 1fr;

    margin: 0 10px;
  }

  .catalog__item-hover-cover {
    min-height: 386px;
    padding-left: 25px;
    padding-top: 28px;
    padding-bottom: 15px;
  }

  .catalog__cruise-description-list {
    margin-top: 14px;
  }

  .catalog__cruise-description-item {
    padding-bottom: 12px;
  }
}
