@include vp-1354 {
  .img--catalog {
    object-fit: cover;
    width: 309px;
    height: 386px;
  }
}

@include vp-1164 {
  .img--catalog {
    width: 370px;
  }
}

@include vp-1023 {
  .img--lead {
    width: 324px;
    height: 174px;
  }

  .img--catalog {
    width: 309px;
  }
}

@include vp-767 {
  .img--lead {
    width: 290px;
    height: 156px;
  }

  .img--catalog {
    max-width: 270px;
  }
}
