.navigation {
  user-select: none;
}

.navigation__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-right: -20px;
}

.navigation__item {
  display: block;
  margin-bottom: 0;
  margin-right: 20px;
}

.navigation__link {
  padding: 13px 0 13px 4px;
}

@include vp-1023 {
  .navigation__link {
    padding: 13px 0;
  }

  .navigation__item {
    margin-right: 14px;
  }
}

@include vp-767 {
  .navigation {
    width: 100%;
  }

  .navigation__list {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .navigation__link {
    padding: 11px 0;
  }

  .navigation__list--footer {
    padding-top: 0;
    margin-bottom: 26px;
  }

  .navigation__item {
    margin-right: 0;
    margin-bottom: -2px;
  }

  .navigation__link--footer {
    padding: 8px 0;
  }
}
